<!DOCTYPE html>
<html lang="en" data-bs-theme="dark">
    <head>
        <%- include('partials/header.ejs', { title: 'Ribbit' }) %>
    </head>
    <body>
        <%- include('partials/navbar.ejs') %>
        <div class="container row">
            <div class="col-9">
                <a href="/post" class="btn btn-primary">POST</a>
            </div>
            <div class="col-3">
                <ul>
                    <% topics.forEach((topic, index) => { %>
                        <li><a href="/t/<%- topic.name %>">/t/<%- topic.name %></a></li>
                    <% }); %>
                </ul>
            </div>
        </div>
        <%- include('partials/createTopicModal.ejs'); %>
        <%- include('partials/scripts.ejs'); %>
    </body>
</html>