<!DOCTYPE html>
<html lang="en" data-bs-theme="dark">
    <head>
        <%- include('partials/header.js', { title: post.content.title }) %>
    </head>
    <body>
        <%- include('partials/navbar.ejs') %>
        <div class="card">
            <div class="card-header">
                <% if (post.content.title) { %>
                    <%- post.content.title %>
                <% } %>
            </div>
            <div class="card-body">
                <%- if (post.content.body) { %>
                    <%- post.content.body %>
                <%- } %>
            </div>
        </div>
        <%- include('partials/createTopicModal.ejs'); %>
        <%- include('partials/scrips.ejs') %>
    </body>
</html>