<!DOCTYPE html>
<html lang="en" data-bs-theme="dark">
    <head>
        <%- include('partials/header.ejs', { title: 'Ribbit: ' + topic.name }) %>
    </head>
    <body>
        <%- include('partials/navbar.ejs') %>
        <div class="container row">
            <div class="col-9">
                <a class="btn btn-primary" id="createPostButton" href="/post"><i class="bi bi-plus-lg"></i> Create post</a>
                <button type="button" class="btn btn-secondary" id="btnUnsubscribeTopic" onclick="unsubscribe('<%- topic.name %>')"
                <% if (!isSubscribed) { %>
                    hidden
                <% } %>>Subscribed</button>
                <button type="button" class="btn btn-warning" id="btnSubscribeTopic" onclick="subscribe('<%- topic.name %>')"
                <% if (isSubscribed) { %>
                    hidden
                <% } %>>Subscribe</button>
                <div class="col">
                    <% topic.post.forEach((post, index) => { %>
                        <%- include('partials/postCard.ejs', { post }) %>
                    <% }); %>
                </div>
            </div>
        </div>
        <%- include('partials/createTopicModal.ejs'); %>
        <%- include('partials/scripts.ejs'); %>
        <script>
            <%- include('../public/javascripts/subscribeTopic.js'); %>
        </script>
    </body>
</html>